language: node_js
node_js:
  - "8.8.1"
before_install:
  - npm install -g gulp
  - npm install -g resume-cli
install:
  - npm install
before_script:
  - npm link
script:
  - node -r babel-register ./node_modules/.bin/gulp
  - resume test
  - resume export test-resume.pdf --format pdf --theme elite
