<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
    <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
    <style>
        {{{css}}}
    </style>
</head>
<body>
    <div class="page">
        <div class="sidebar">
            {{> basic }}
            {{> contact }}
            {{> skills-progress }}
        </div>
        <div class="content">
            {{> summary }}
            {{> work }}
            {{> education }}
            {{> awards }}
            {{> publications }}
            {{> volunteer }}
            {{> skills }}
            {{> languages }}
            {{> interests }}
            {{> references }}
        </div>
    </div>

    <script>
        var pageHeights = {
          letter: 792,
          a4: 842
        }
        var pageHeight = pageHeights['{{lowercase format}}']
        var html = document.querySelector('.page')
        var height = html.scrollHeight

        if (height/pageHeight !== 0) {
          html.style.height = (Math.ceil(height/pageHeight) * pageHeight) + 'px'
        }
    </script>
</body>
</html>
