<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
    <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
    <style>
        {{{css}}}
    </style>
</head>
<body>
    <div class="d-none">
        {{{icons}}}
    </div>
    <div class="page">
        <div class="sidebar">
            {{> sections/sidebar/basic }}
            {{> sections/sidebar/contact }}
            {{> sections/sidebar/social }}
            {{#if themeConfig.sidebarSkills}}
                {{> sections/sidebar/skills }}
            {{/if}}
            {{#if themeConfig.sidebarLanguages}}
                {{> sections/sidebar/languages }}
            {{/if}}
            {{#if themeConfig.sidebarAwards}}
                {{> sections/sidebar/awards }}
            {{/if}}
            {{#if themeConfig.sidebarInterests}}
                {{> sections/sidebar/interests }}
            {{/if}}
        </div>
        <div class="content">
            {{#if themeConfig.watermark}}
                {{> sections/content/watermark }}
            {{/if}}
            {{> sections/content/summary }}
            {{> sections/content/work }}
            {{> sections/content/education }}

            {{#unless themeConfig.sidebarAwards}}
                {{> sections/content/awards }}
            {{/unless}}
            {{> sections/content/publications }}
            {{> sections/content/volunteer }}
            {{#unless themeConfig.sidebarSkills}}
                {{> sections/content/skills }}
            {{/unless}}
            {{#unless themeConfig.sidebarLanguages}}
                {{> sections/content/languages }}
            {{/unless}}
            {{#unless themeConfig.sidebarInterests}}
                {{> sections/content/interests }}
            {{/unless}}
            {{> sections/content/references }}
            {{> sections/content/certifications }}
        </div>
    </div>

    <script>
        var pageHeights = {
          letter: 792,
          a4: 842
        }
        var pageHeight = pageHeights['{{lowercase format}}']
        var html = document.querySelector('.page')
        var height = html.scrollHeight

        if (height/pageHeight !== 0) {
          html.style.height = (Math.ceil(height/pageHeight) * pageHeight) + 'px'
        }
    </script>
</body>
</html>
