<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
    <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
    <style>
        {{{css}}}
    </style>
</head>
<body>
    <div class="d-none">
        {{{icons}}}
    </div>
    <div class="page">
        <div class="sidebar">
            {{> sections/basic }}
            {{> sections/contact }}
            {{> sections/skills-progress }}
        </div>
        <div class="content">
            <div class="watermark">
                <span class="text-secondary">Generated with</span>
                <svg>
                    <use xlink:href="#nodejs"></use>
                </svg>
            </div>
            {{> sections/summary }}
            {{> sections/work }}
            {{> sections/education }}
            {{> sections/awards }}
            {{> sections/publications }}
            {{> sections/volunteer }}
            {{> sections/skills }}
            {{> sections/languages }}
            {{> sections/interests }}
            {{> sections/references }}
            {{> sections/certifications }}
        </div>
    </div>

    <script>
        var pageHeights = {
          letter: 792,
          a4: 842
        }
        var pageHeight = pageHeights['{{lowercase format}}']
        var html = document.querySelector('.page')
        var height = html.scrollHeight

        if (height/pageHeight !== 0) {
          html.style.height = (Math.ceil(height/pageHeight) * pageHeight) + 'px'
        }
    </script>
</body>
</html>
