<h2 class="title">
    <div class="title-icon text-primary">
        <svg>
            <use xlink:href="#{{icon}}"></use>
        </svg>
    </div>
    <span class="text-primary">{{title}}</span>
</h2>
