{{#if resume.skills.length}}
    <section class="section-skills">
        {{> components/title icon='skills' title='Skills'}}
        <div class="card">
            <div class="card-block">
                <table class="card-table">
                    <tbody>
                    {{#each resume.skills}}
                        <tr class="skill">
                            {{#if name}}
                                <td class="name">
                                    {{name}}
                                </td>
                            {{/if}}
                            {{#if level}}
                                <td class="cell-progress">
                                    <ul class="progress-dots">
                                        {{#times 5}}
                                            {{#lte this ../level}}
                                                <li class="dot active"></li>
                                            {{else}}
                                                <li class="dot border-secondary"></li>
                                            {{/lte}}
                                        {{/times}}
                                    </ul>
                                </td>
                            {{/if}}
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{{/if}}
