{{#if resume.basics.profiles.length}}
    <section class="section-contact">
        {{> components/title icon='network' title='Social'}}
        <ul>
            {{#each resume.basics.profiles}}
                <li class="icon-item clearfix">
                    <svg class="text-primary">
                        <use xlink:href="#{{sanitizeLowercase network}}"></use>
                    </svg>
                    <a href="{{url}}">
                        {{removeSchema url}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </section>
{{/if}}