{{#if resume.basics}}
    <section class="section-basic">
        {{#if resume.basics.picture}}
            <div class="avatar">
                <img src="{{ resume.basics.picture }}" alt="{{resume.basics.name}}">
            </div>
        {{/if}}

        {{#if resume.basics.name}}
            <h1 class="name text-primary text-uppercase">
                {{resume.basics.name}}
            </h1>
        {{/if}}

        {{#if resume.basics.label}}
            <h3 class="subtitle text-uppercase">
                {{resume.basics.label}}
            </h3>
        {{/if}}
    </section>
{{/if}}
