{{#if resume.interests.length}}
    <section class="section-interests">
        {{>title icon='el-beer' title='Interests'}}
        {{#each resume.interests}}
            <div class="card">
                {{#if name}}
                    <div class="card-block">
                        <h4 class="card-title">
                            {{name}}
                        </h4>
                    </div>
                {{/if}}
                {{#if keywords.length}}
                    <div class="card-footer">
                        <div class="card-tags" href="{{website}}">
                            <i class="el-tags text-primary"></i>
                            <div class="tag-list">
                                {{#each keywords}}
                                    <span class="tag text-secondary">{{this}}</span>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </section>
{{/if}}
