{{#if resume.languages.length}}
    <section class="section-languages">
        {{>title icon='el-comments-alt' title='Languages'}}
        <div class="p-3">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-secondary">Language</th>
                    <th class="text-secondary">Level</th>
                </tr>
                </thead>
                <tbody>
                {{#each resume.languages}}
                    <tr>
                        <td>
                            <div class="flag flag-{{lowercase name}}"></div>
                        </td>
                        <td>
                            {{level}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </section>
{{/if}}
