{{#if resume.references.length}}
    <section class="section-references">
        {{>title icon='el-thumbs-up' title='References'}}

        {{#each resume.references}}
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        {{#if name}}
                            {{name}}
                        {{/if}}
                    </h4>
                    {{#if reference}}
                        <div class="card-text">
                            {{reference}}
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </section>
{{/if}}
