{{#if resume.basics.summary}}
    <section class="section-summary">
        {{>title icon='el-paperclip' title='Summary'}}

        <p class="text-justify">{{{resume.basics.summary}}}</p>
    </section>
{{/if}}
