{{#if resume.work.length}}
    <section class="section-work">
        {{> components/title icon='briefcase' title='Experience'}}
        {{#each resume.work}}
            {{#if (isArray @this)}}
                <div class="card-group">
                    {{#each @this}}
                        {{> sections/content/work-item }}
                    {{/each}}
                </div>
            {{else}}
                {{> sections/content/work-item }}
            {{/if}}
        {{/each}}
    </section>
{{/if}}
