{{#if resume.languages.length}}
    <section class="section-languages">
        {{> components/title icon='comments' title='Languages'}}
        <div class="p-3">
            <table class="table">
                <tbody>
                {{#each resume.languages}}
                    <tr>
                        <td class="flag-column">
                            <svg>
                                <use xlink:href="#flag-{{lowercase name}}"></use>
                            </svg>
                        </td>
                        <td class="name-column">
                            {{capitalizeEach name}}
                        </td>
                        <td class="text-secondary">
                            {{level}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </section>
{{/if}}
