{{#if resume.languages.length}}
    <section class="section-languages">
        {{> components/title icon='comments' title='Languages'}}
        <div class="p-3">
            <table class="table">
                <thead>
                <tr>
                    <th class="flag-column text-secondary">Language</th>
                    <th class="text-secondary">Level</th>
                </tr>
                </thead>
                <tbody>
                {{#each resume.languages}}
                    <tr>
                        <td class="flag-column">
                            <svg>
                                <use xlink:href="#flag-{{lowercase name}}"></use>
                            </svg>
                        </td>
                        <td>
                            {{level}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </section>
{{/if}}
