{{#if resume.skills.length}}
    <section class="section-skills">
        {{> components/title icon='tasks' title='Skills'}}
        {{#each resume.skills}}
            <div class="card">
                {{#if name}}
                    <div class="card-block">
                        <h3 class="card-title">
                            {{name}}
                            {{#if level}}
                                <span class="card-subtitle">{{level}}</span>
                            {{/if}}
                        </h3>
                    </div>
                {{/if}}
                {{#if keywords.length}}
                    <div class="card-footer">
                        <div class="card-tags icon-item" href="{{website}}">
                            <svg class="text-primary">
                                <use xlink:href="#tags"></use>
                            </svg>
                            <div class="tag-list">
                                {{#each keywords}}
                                    <span class="tag text-secondary">{{this}}</span>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </section>
{{/if}}
