{{#if resume.basics.summary}}
    <section class="section-summary">
        {{> components/title icon='el-paperclip' title='Summary'}}
        <div class="p-3">
            {{{resume.basics.summary}}}
        </div>
    </section>
{{/if}}
