// Cards
// ----------------------------------------------

.card {
  padding: $spacer 0;
}

.card-header {
  padding: 0 $spacer 0;
  font-size: $font-size-h5;

  .card-dates {
    color: $page-secondary;
    display: inline-block;
  }

  .badge {
    vertical-align: baseline;
    margin-left: 0.25rem;
  }
}

.card-block {
  padding: $spacer/2 $spacer;

  .card-title {
    text-transform: uppercase;
    margin-bottom: 0;

    & + .card-text {
      margin-top: 8px;
    }
  }

  .card-subtitle {
    color: $page-secondary;
  }

  .card-text {
    text-align: justify;

    ul li {
      padding-left: 1rem;
      text-align: justify;
      color: $page-color;
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        left: 0.75rem;
        content: ">";
        margin-left: -0.75rem;
        width: 1rem;
        display: inline-block;
        color: $page-primary;
      }
    }
  }
}

.card-footer {
  padding: 0 $spacer 0;

  i {
    position: absolute;
    top: 0;
    left: 0;
  }


  .icon-item {
    svg {
      width: 10px;
      height: 1rem;
    }

    div,
    span,
    a {
      margin-left: 6px;
    }
  }

  .card-link {

    span {
      color: inherit;
    }

    & + .card-highlights,
    & + .card-tags {
      margin-top: 0.25rem;
    }
  }

  .card-highlights {
    padding: 0;
    margin: 0;
  }

  .card-tags {
    position: relative;

    .tag {
      margin-left: 0;

      &::after {
        content: ",";
      }

      &:last-of-type::after {
        content: '';
      }
    }
  }
}
