// Cards
// ----------------------------------------------

.card {
  padding: $spacer 0;
}

.card-header {
  padding: 0 $spacer 0;

  .card-dates {
    color: $color-secondary;
    display: inline-block;
  }

  .badge {
    vertical-align: baseline;
    margin-left: 0.25rem;
  }
}

.card-block {
  padding: $spacer/2 $spacer;
  text-align: justify;

  .card-title {
    text-transform: uppercase;
    margin-bottom: 0;

    & + .card-text {
      margin-top: 8px;
    }
  }

  .card-subtitle {
    color: $color-secondary;
  }

  ul li {
    padding-left: 1rem;
    text-align: justify;
    color: $body-color;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0.75rem;
      content: ">";
      margin-left: -0.75rem;
      width: 1rem;
      display: inline-block;
      color: $color-primary;
    }
  }
}

.card-footer {
  padding: 0 $spacer 0;

  i {
    color: $color-primary;
    position: absolute;
    top: 0;
    left: 0;
  }

  .card-link {
    display: block;
    position: relative;

    span {
      margin-left: 1rem;
      color: $color-secondary;
    }

    & + .card-highlights {
      margin-top: 0.5rem;
    }

    & + .card-tags {
      margin-top: 0.25rem;
    }
  }

  .card-highlights {
    padding: 0;
    margin: 0;
  }

  .card-tags {
    position: relative;

    .tag-list {
      margin-left: 1rem;
    }

    .tag {
      margin-left: 0;

      &::after {
        content: ",";
      }

      &:last-of-type::after {
        content: '';
      }
    }
  }
}
