// Layout
// ----------------------------------------------

body {
  margin: 4rem 0;
  background-color: $background-bg;
}

.page {
  background: $page-bg;
  width: $page-width;
  display: flex;
  margin: 0 auto;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);

  .sidebar {
    background-color: $sidebar-bg;
    color: $sidebar-color;
    flex: 0 0 $sidebar-width;
    width: $sidebar-width;

    a {
      color: $sidebar-color;
    }
  }

  .content {
    flex: 1;
    background-color: $page-bg;
    color: $page-color;
    position: relative;

    .watermark {
      $watermark-height: 12px;

      opacity: 0.7;
      position: absolute;
      top: $spacer;
      right: $padding-x;
      display: flex;
      align-items: center;
      width: 90px;

      span {
        flex: 1;
        text-align: right;
        margin-right: 0.2rem;
        font-size: $small-font-size;
        line-height: 1;
      }

      svg {
        flex-basis: $watermark-height;
        height: $watermark-height;
      }
    }
  }
}