// Layout
// ----------------------------------------------

body {
  margin: 4rem 0;
  background-color: $background-bg;
}

.page {
  background: $page-bg;
  width: $page-width;
  display: flex;
  margin: 0 auto;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);

  .sidebar {
    background-color: $sidebar-bg;
    color: $sidebar-color;
    flex: 0 0 $sidebar-width;
    width: $sidebar-width;

    a {
      color: $sidebar-color;
    }
  }

  .content {
    flex: 1;
    background-color: $page-bg;
    color: $page-color;
    position: relative;

    .watermark {
      $watermark-height: 12px;

      opacity: 0.3;
      position: absolute;
      top: $spacer;
      right: $spacer;
      display: flex;
      align-items: center;
      width: 90px;

      span {
        flex: 1;
        text-align: right;
        margin-right: 0.2rem;
        font-size: 0.5rem;
        line-height: 1;
      }

      svg {
        flex-basis: $watermark-height;
        height: $watermark-height;
      }
    }
  }
}

.sidebar {
  hr {
    border-color: lighten($sidebar-bg, 10%);
    margin: 0 $spacer 0;
  }

  [class^="section-"] {
    padding: $spacer;
  }

  [class^="section-"] .title {
    padding: 0 0 $spacer;
    font-size: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    justify-content: center;

    .title-icon {
      background-color: transparent;
      padding: 0;
      height: auto;
      width: 1rem;
      flex-basis: 1rem;
      margin-right: 0.5rem;
      justify-content: center;
    }

    span {
      margin: 0;
      color: $sidebar-color !important;
    }
  }

  .progress-dots .dot {
    border-color: $sidebar-secondary;

    &.active {
      background-color: $sidebar-primary;
      border-color: $sidebar-primary;
    }
  }
}

[class^="section-"] {
  width: 100%;
}

[class^="section-"] .title {
  $icon-bg-size: 28px;

  text-transform: uppercase;
  padding: $spacer $spacer 0;
  margin: 0;
  display: flex;
  align-items: center;

  span {
    margin-left: 0.25rem;
    line-height: 1;
  }

  .title-icon {
    background-color: darken($page-bg, 4%);
    border-radius: 50%;
    width: $icon-bg-size;
    height: $icon-bg-size;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: $icon-bg-size;

    svg {
      flex: 1;
      align-self: center;
      height: $h2-font-size;
    }
  }
}
