// Layout
// ----------------------------------------------

body {
  margin: 4rem 0;
  background-color: $background-bg;
}

.page {
  background: $page-bg;
  width: $page-width;
  display: flex;
  margin: 0 auto;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);

  .sidebar {
    background-color: $sidebar-bg;
    color: $sidebar-color;
    flex: 0 0 $sidebar-width;
  }

  .content {
    flex: 1;
  }
}

.sidebar {
  hr {
    border-color: lighten($sidebar-bg, 10%);
    margin: 0 $spacer 0;
  }

  [class^="section-"] {
    padding: $spacer;
  }

  [class^="section-"] .title {
    padding: 0 0 $spacer;
    font-size: 0.9rem;
    line-height: 0.9rem;
    text-align: center;

    .title-icon {
      background-color: transparent;
      padding: 0;
      width: auto;
      height: auto;
      display: none;
    }

    span {
      margin: 0;
      color: $sidebar-color;
    }
  }
}

[class^="section-"] {
  width: 100%;
}

[class^="section-"] .title {
  color: $color-primary;
  text-transform: uppercase;
  padding: $spacer $spacer 0;
  margin: 0;

  .title-icon,
  span {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    margin-left: 2px;
  }

  .title-icon {
    $icon-bg-size: 2rem;

    background-color: lighten($gray-lighter, 2%);
    border-radius: 50%;
    width: $icon-bg-size;
    height: $icon-bg-size;
    padding: 0.4rem 0.45rem;
  }
}

.section-summary {
  p {
    text-align: justify;
    margin-bottom: 0;

    & + p {
      margin-top: $font-size-base;
    }
  }
}

.section-skills {
  .card + .card {
    padding-top: 0;
  }
}

.section-basic {
  text-align: center;
  background-color: darken($sidebar-bg, 5%);

  .avatar {
    border-radius: 50%;
    overflow: hidden;
    margin: 1rem auto 2rem;
    width: $avatar-size;
    height: $avatar-size;
    background-color: darken($sidebar-bg, 5%);

    img {
      width: $avatar-size;
      height: $avatar-size;
    }
  }

  .name {
    margin: 2rem auto 1rem;
  }

  .subtitle {
    margin-bottom: 1rem;
  }
}

.section-contact {
  $icon-width: 20px;

  ul + ul {
    margin-top: 2rem;
  }

  li {
    font-size: 0.7rem;
    position: relative;

    i {
      color: $color-primary;
      font-size: 0.8rem;
      float: left;
      width: $icon-width;
    }

    span,
    a {
      color: $color-secondary;
      word-wrap: break-word;
      line-height: 19px;
      margin-left: 0;
      float: left;
      width: $sidebar-width - ($spacer * 2) - $icon-width;
    }
  }

  li + li {
    margin-top: 0.2rem;
  }
}

@if $enable-skills-sidebar == true {
  .sidebar .section-skills {
    table {
      width: 100%;

      tr + tr td {
        padding-top: 0.5rem;
      }

      td {
        vertical-align: top;
      }

      .cell-progress {
        width: 65px;
      }
    }

    .skill {
      @include clearfix;

      .name {
        text-transform: uppercase;
        float: left;
        margin-bottom: 0;
      }
    }
  }

  .progress {
    box-shadow: $progress-box-shadow;
  }

  .content .section-skills {
    display: none;
  }
}

.progress-dots {
  $size: 10px;

  display: inline-block;
  float: right;
  line-height: $size;

  .dot {
    width: $size;
    height: $size;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid $color-secondary;
    vertical-align: sub;

    &.active {
      box-shadow: none;
      background-color: $color-primary;
      border: 1px solid $color-primary;
    }
  }
}
