@media print {
  html,
  body {
    margin: 0;
    width: 100%;
  }

  .page {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  .section-summary,
  .section-languages,
  .card,
  .sidebar .section-skills,
  p {
    page-break-inside: avoid;
  }
}
