@page {
    size: A4;
}

@media print {

    body {
        margin: 0;
    }

    .card {
        page-break-inside: avoid;
    }

    .page {
        width: 100%;
        height: 100%;
        margin: 0;
        box-shadow: none;
    }

    .row {
        display: -webkit-box;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
    }

    .col-4 {
        -webkit-box-flex: 0 0 33.33333%;
        -webkit-flex: 0 0 33.33333%;
    }

    .col-8 {
        -webkit-box-flex: 0 0 66.66667%;
        -webkit-flex: 0 0 66.66667%;
    }
}
