// Reboot
// ----------------------------------------------

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
