// Sections
// ----------------------------------------------

.section-summary {
  p {
    text-align: justify;
    margin-bottom: 0;

    & + p {
      margin-top: $font-size-base;
    }
  }
}

.content .section-skills {
  .card + .card {
    padding-top: 0;
  }
}

.sidebar .section-skills {
  table {
    width: 100%;

    tr + tr td {
      padding-top: 0.5rem;
    }

    td {
      vertical-align: top;
    }

    .cell-progress {
      width: 68px;
    }
  }

  .skill {
    @include clearfix;

    .name {
      text-transform: uppercase;
      float: left;
      margin-bottom: 0;
    }
  }
}

.section-basic {
  text-align: center;
  background-color: darken($sidebar-bg, 5%);

  .avatar {
    border-radius: 50%;
    overflow: hidden;
    margin: 1rem auto 2rem;
    width: $avatar-size;
    height: $avatar-size;
    background-color: darken($sidebar-bg, 5%);

    img {
      width: $avatar-size;
      height: $avatar-size;
    }
  }

  .name {
    margin: 1rem auto;
  }

  .subtitle {
    margin-bottom: 1rem;
  }
}

@if $enable-avatar == true {
  .section-basic .avatar {
    display: block;
  }
}

@else {
  .section-basic .avatar {
    display: none;
    visibility: hidden;
  }
}

.section-contact {
  $icon-width: 16px;

  ul + ul {
    margin-top: 2rem;
  }

  li {
    font-size: 0.7rem;

    span,
    a {
      word-wrap: break-word;
    }
  }

  li + li {
    margin-top: 0.5rem;
  }
}

.section-education .card-block {
  padding-bottom: 0;
}

.section-interests .card-block {
  padding-top: 0;
}

.section-references .card-block {
  padding-top: 0;
  padding-bottom: 0;
}
