// Sections
// ----------------------------------------------

// Section Summary
// --------------------------------------------------------

.section-summary {
  p {
    text-align: justify;
    margin-bottom: 0;

    & + p {
      margin-top: $font-size-base;
    }
  }
}

// Section Skills
// --------------------------------------------------------

.content .section-skills {
  .card-block {
    padding-top: 0;
    padding-bottom: 0;
  }

  ul li {
    .li-title {
      font-weight: bold;
    }

    .li-title + .li-subtitle {
      color: $color-secondary;
    }

    & + li {
      margin-top: 0.25rem;
    }
  }
}

.sidebar .section-skills {
  table {
    width: 100%;

    tr + tr td {
      padding-top: 0.5rem;
    }

    td {
      vertical-align: top;
    }

    .cell-progress {
      width: 68px;
    }
  }

  .skill {
    @include clearfix;

    .name {
      float: left;
      margin-bottom: 0;
    }
  }
}

// Section Basic
// --------------------------------------------------------

.section-basic {
  text-align: center;
  background-color: darken($sidebar-bg, 5%);

  .avatar {
    border-radius: 50%;
    overflow: hidden;
    margin: 1rem auto;
    width: $avatar-size;
    height: $avatar-size;
    background-color: darken($sidebar-bg, 5%);

    img {
      width: $avatar-size;
      height: $avatar-size;
    }
  }

  .name {
    margin: 1rem auto;
  }

  .subtitle {
    margin-bottom: 1rem;
  }
}

// Section Contact
// --------------------------------------------------------

.section-contact {
  $icon-width: 16px;

  ul + ul {
    margin-top: 2rem;
  }

  li {
    font-size: 0.65rem;

    span,
    a {
      word-wrap: break-word;
      min-width: 0;
      margin-left: 10px;
    }

    svg {
      height: 15px;
      margin-top: 1px;
    }
  }

  li + li {
    margin-top: 0.5rem;
  }
}

// Section Education
// --------------------------------------------------------

.section-education .card-block {
  padding-bottom: 0;
}

// Section Interests
// --------------------------------------------------------

.section-interests .card-block {
  padding-top: 0;
}

// Section References
// --------------------------------------------------------

.section-references .card-block {
  padding-top: 0;
  padding-bottom: 0;
}

// Section Languages
// --------------------------------------------------------

.section-languages {
  .card {
    padding: 0;
  }
  
  .table .column-name {
    width: 1%;
  }

  .table .column-flag {
    $size: 20px;

    width: $size;
    padding-left: 0;
    
    svg {
      display: block;
      max-height: 100%;

      width: $size;
      height: $size;
    }
  }

  .table .column-level {
    padding-right: 0;
  }
}
