// Tables
// ----------------------------------------------

.table {
  margin-bottom: 0;
}

.table td {
  vertical-align: middle;
}

.table .flag-column {
  width: 80px;

  svg {
    $size: 1.2rem;

    width: $size;
    height: $size;
  }
}
