// Tables
// ----------------------------------------------

.table {
  margin-bottom: 0;
}

.table td {
  vertical-align: middle;
}

.table thead th {
  border-bottom-width: 1px;
  font-weight: normal;
  background-color: darken($page-bg, 4%);
}
