// Tables
// ----------------------------------------------

.table {
  margin-bottom: 0;
}

.table td {
  vertical-align: middle;
  border-top: 0;
}

.table tbody tr:first-child td {
  padding-top: 0;
}
