// Utilities
// ----------------------------------------------

.text-primary {
  .sidebar & {
    color: $sidebar-primary !important;
    fill: $sidebar-primary;

    svg {
      fill: $sidebar-primary;
    }
  }

  .content & {
    color: $page-primary !important;
    fill: $page-primary;

    svg {
      fill: $page-primary;
    }
  }
}

.text-secondary {
  .sidebar & {
    color: $sidebar-secondary !important;
  }

  .content & {
    color: $page-secondary !important;
  }
}

.icon-item {
  display: flex;
  align-items: center;

  svg {
    width: $icon-size;
    height: $icon-size;
  }

  svg + div,
  svg + span,
  svg + a {
    flex: 1;
    margin-left: 6px;
    word-wrap: break-word;
    min-width: 0;
  }
}
