// Utilities
// ----------------------------------------------

.text-primary {
  .sidebar & {
    color: $sidebar-primary !important;
    fill: $sidebar-primary;

    svg {
      fill: $sidebar-primary;
    }
  }

  .content & {
    color: $page-primary !important;
    fill: $page-primary;

    svg {
      fill: $page-primary;
    }
  }
}

.text-secondary {
  .sidebar & {
    color: $sidebar-secondary !important;
  }

  .content & {
    color: $page-secondary !important;
  }
}

.img-lang {
  max-width: 2rem;
  height: auto;
}

.icon-item {
  $icon-width: 16px;
  display: flex;

  svg {
    width: $icon-width;
    height: $icon-width;
  }

  div,
  span,
  a {
    flex: 1;
    line-height: $icon-width;
    margin-left: $spacer;
  }
}

.hyphenate {
  word-break: break-word;
  hyphens: auto;
}