// Utilities
// ----------------------------------------------

.text-primary {
  fill: $color-primary;

  .sidebar & {
    color: $sidebar-primary !important;
  }

  .content & {
    color: $page-primary !important;
  }

  svg {
    fill: $color-primary;
  }
}

.text-secondary {
  .sidebar & {
    color: $sidebar-secondary !important;
  }

  .content & {
    color: $page-secondary !important;
  }
}

.img-lang {
  max-width: 2rem;
  height: auto;
}

.icon-item {
  $icon-width: 16px;
  display: flex;

  svg {
    width: $icon-width;
    height: $icon-width;
  }

  span,
  a {
    flex: 1;
    line-height: $icon-width;
    margin-left: $spacer;
  }
}
